
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', cursive;
}

#conn_status span {
    transition: opacity .1s;
    opacity: 0;
    margin-left: 5px;
    font-size: 10pt;
}

#conn_status:hover span {
    opacity: 1;
}

#conn_status {
    font-weight: 200;
    opacity: .5;
    position: absolute;
    top: 580px;
    left: 12px;
}

#map {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
    height: 658px;
    background-image: url('labeled_map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#map .label {
    font-size: 10pt;
    position: absolute;
    background-color: #dfe6f5;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: 400;
}

#map .label.route {
    font-weight: 600;
    background-color: rgba(238, 225, 186, 1);
}

.ico {
    position: absolute;
    transition: left .1s, top .1s;
    transition-timing-function: linear;
    background: url('chars/hero.png') 0 0;
    width: 32px;
    height: 44px;
    image-rendering: pixelated;
}

#scoreboard {
    position: absolute;
    top: 0;
    left: 800px;
    height: 100%;
    width: 300px;
}

#scoreboard ul {
    padding-left: 0;
}

#scoreboard ul li {
    list-style: none;
    font-size: 36pt;
}

#scoreboard ul h1 {
    font-size: 36pt;
    font-weight: 100;
    margin: 0;
}

#scoreboard ul div {
    font-weight: 200;
}

#scoreboard ul img {
    margin-right: 5px;
}

#scoreboard ul h2 {
    font-size: 36pt;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 600;
}

#scoreboard ul i {
    font-style: normal;
}

#scoreboard ul b {
    font-weight: 600;
    padding-left: 13px;
}
